---
layout: home
title: Karapan Karya
excerpt: >-
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
  dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
summary:
- title: Tentang Kami
  isi : Lorem Ipsum Dolor Sit Amet
  image: img/bigcontent-1.jpg
  link: /about
---

<!-- Masthead -->
{% include header.html %}

{% include imagesection.html title="minContent" data=page.summary %}

<!-- Icons Grid -->
<div class="bg-light">
    {% include iconsection.html title="Services" data=site.data.minicontent link="services" %}
</div>

<!-- Image Showcases -->
{% include imagesection.html title="minContent" data=site.data.bigcontent %}

<!-- Call to Action -->
{% include signup.html %}