<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img src="img/case-1.jpg">
            Lorem Ipsum
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img src="img/case-1.jpg">
            Lorem Ipsum
          </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img src="img/case-1.jpg">
            Lorem Ipsum
            </div>
          </div>
        </div>
      </div>
  </section>