<section class="case-study features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        {% for cscontent in include.data %}
        <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img class="img-fluid mb-3" src="{{ cscontent.img }}">
            <a href="case-study/{{ cscontent.link }}">
              {{ cscontent.title }}
            </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>