<section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        {% for minicontent in include.data %}
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="{{ minicontent.icon }}"></i>
            </div>
            <h3>{{ minicontent.title }}</h3>
            <p class="lead mb-0">{{ minicontent.isi }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>