body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.navbar{
  font-family: 'Kulim Park', sans-serif;
  .nav-item.active {
    font-weight: bold;
  }
}
.contentservices h1{
  font-size: 43px;
}
.contentservices h3{
  font-size: large;
}
.contentservices p{
  font-size: 16px;
}
.curvy-separator {
  position: relative;
  height: 0;

  svg {
    position: absolute;
    top: -30px;
    height: 60px;
    width: 100%;
    display: block;
  }
  .up {
    fill: var(--up, transparent);
  }
  .down {
    fill: var(--down, transparent);
  }
  .upback {
    fill: var(--upback, transparent);
  }
  .downback {
    fill: var(--downback, transparent);
  }
}
