---
layout: default
---
<article class="post my-5">

  <header class="post-header text-center">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
      <p class="text-center container my-5">{{ page.excerpt }}</p>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            Lorem
            <img class="img-fluid mb-3" src="img/case-1.jpg">
          </div>
        </div>
      </div>
    {{ content }}
  </div>

</article>
