<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>


  <!-- Masthead -->
  {% include header.html %}
  <!-- Navigation -->
  {% include navigation.html %}
  <!-- Icons Grid -->
  {% include iconsection.html %}

  <!-- Image Showcases -->
  {% include imagesection.html %}

  <!-- Testimonials -->
  {% include testisection.html %}

  <!-- Call to Action -->
  {% include signup.html %}

  <!-- Footer -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
